<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.braisedpanda.waterfee.mapper.StepWaterMapper">

    <select id="selectAll" resultType="com.braisedpanda.waterfee.model.po.StepWater">
        select * from step_water where user_id = #{userId}
    </select>

</mapper>